<h2 font-display text-3xl>Quick Access</h2>

<br />

<div class="flex flex-row gap-2 text-center">
  <a href="https://github.com/GeniusCorn" target="_blank">
    <div
      class="p-2 rounded hover:bg-emerald hover:text-white cursor-pointer transition"
    >
      <div i-tabler-brand-github text-2xl></div>
    </div>
  </a>

  <a href="https://blog.nicecorn.com" target="_blank">
    <div
      class="p-2 rounded hover:bg-blue hover:text-white cursor-pointer transition"
    >
      <div i-tabler-article text-2xl></div>
    </div>
  </a>

  <a href="https://space.bilibili.com/1380312" target="_blank">
    <div
      class="p-2 rounded hover:bg-pink hover:text-white cursor-pointer transition"
    >
      <div i-tabler-brand-bilibili text-2xl></div>
    </div>
  </a>

  <a
    href="https://steamcommunity.com/profiles/76561198145160817/"
    target="_blank"
  >
    <div
      class="p-2 rounded hover:bg-black hover:text-white cursor-pointer transition"
    >
      <div i-tabler-brand-steam text-2xl></div>
    </div>
  </a>

  <a href="https://SW-4369-2810-9115" target="_blank">
    <div
      class="p-2 rounded hover:bg-red hover:text-white cursor-pointer transition"
    >
      <div i-tabler-device-nintendo text-2xl></div>
    </div>
  </a>
</div>
