<div class="text-xs flex justify-center gap-2 mb-2">
  <div>Corn Huang</div>
  <div>&copy; 2023</div>
  <a
    href="https://beian.miit.gov.cn/"
    target="_blank"
    class="hover:text-slate hover:underline transition"
  >
    粤 ICP 备 20026972 号 - 1
  </a>
</div>
