<h1 class="flex flex-col text-5xl font-display">
  <div class="flex">
    <span> Hi there</span>
    <div i-openmoji-heart-suit></div>
  </div>

  <div> I am Corn Huang,</div>
</h1>

<br />

<img
  class="rounded-full m-auto"
  src="https://avatars.githubusercontent.com/u/12198452?s=200&v=4"
/>

<br />

<p
  font-sans
  text-2xl
>
  a front-end developer who became a part of
  <a
    href="https://emnotegb.com"
    target="_blank"
    class="underline text-black hover:text-slate-400 transition ease-in-out duration-200"
    >EMNOTE</a
  >
   in 2017. EMNOTE stands at the forefront of emergency medicine education and
  research, and I am currently honored to hold the position of Senior Vice
  President of Technology.
</p>

<br />

<p
  font-sans
  text-2xl
>
  Mail me at <a
    href="mailto:hi@nicecorn.com"
    class="underline text-black hover:text-slate-400 transition ease-in-out duration-200"
    >hi@nicecorn.com</a
  >.
</p>
