---
import Project from './Project.astro'
---

<div class="flex items-center justify-between">
  <h2
    font-display
    text-3xl
    >Projects</h2
  >

  <a
    href="https://github.com/GeniusCorn?tab=repositories"
    target="_blank"
  >
    <div
      class="i-tabler:arrow-up-right text-black text-3xl hover:text-slate transition"
    >
    </div>
  </a>
</div>

<br />

<Project
  github="https://github.com/GeniusCorn/vue3-starter"
  url="https://vue3-starter.nicecorn.com/"
>
  <div
    class="i-tabler-brand-vue"
    slot="icon"
  ></div>

  <div slot="title">Vue 3 Starter</div>

  <div slot="content">
    Vue 3 development template for building web applications quickly,
    integrating Vue 3, Vite, popular libraries and development plugins.
  </div>
</Project>

<Project
  github="https://github.com/GeniusCorn/todo"
  url="https://todo.nicecorn.com/"
  archived
>
  <div
    class="i-tabler-menu-deep"
    slot="icon"
  ></div>

  <div slot="title">Todo</div>

  <div slot="content">A solid implementation of the Todo Application.</div>
</Project>

<Project
  archived
  github="https://github.com/GeniusCorn/tic-tac-toe-game"
  url="https://geniuscorn-tic-tac-toe.netlify.app/"
>
  <div
    class="i-tabler-device-gamepad-3"
    slot="icon"
  ></div>

  <div slot="title">Tic Tac Toe</div>

  <div slot="content"
    >In Tic Tac Toe, two players take turns and place their symbols (ie. a
    circle and a cross) on a board, which consists of three rows with three
    cells each. The first person to fill a row, or a column, or a diagonal
    exclusively with their symbol - wins. If nobody manages to do that, the game
    ends in a draw.</div
  >
</Project>

<Project
  github="https://github.com/GeniusCorn/vue-ele"
  url="https://ele.nicecorn.com/"
  archived
>
  <div
    class="i-ep:eleme"
    slot="icon"
  ></div>

  <div slot="title">Ele</div>

  <div slot="content">Ele is a vue project that imitates ele App.</div>
</Project>

<Project
  github="https://github.com/GeniusCorn/datagram"
  url="http://datagram.nicecorn.com/"
  archived
  notWorking
>
  <div
    class="i-tabler-chart-pie"
    slot="icon"
  ></div>

  <div slot="title">DataGram</div>

  <div slot="content">A powerful data visualization and analysis tool.</div>
</Project>

<Project
  archived
  notWorking
  github="https://github.com/GeniusCorn/chatgpt"
  url="https://chat.nicecorn.com/"
>
  <div
    class="i-tabler-robot"
    slot="icon"
  ></div>

  <div slot="title">ChatGPT</div>

  <div slot="content">A simple ChatGPT Demo.</div>
</Project>
