---
import Project from './Project.astro'
---

<div class="flex items-center justify-between">
  <h2
    font-display
    text-3xl
    >Projects</h2
  >

  <a
    href="https://github.com/GeniusCorn?tab=repositories"
    target="_blank"
  >
    <div
      class="i-tabler:arrow-up-right text-black text-3xl hover:text-slate transition"
    >
    </div>
  </a>
</div>

<br />

<Project url="https://vue3-starter.nicecorn.com/">
  <div
    class="i-tabler-brand-vue"
    slot="icon"
  ></div>

  <div slot="title">Vue 3 Starter</div>

  <div slot="content">
    Vue 3 development template for building web applications quickly,
    integrating Vue 3, Vite, popular libraries and development plugins.
  </div>
</Project>

<Project url="https://chat.nicecorn.com/">
  <div
    class="i-tabler-robot"
    slot="icon"
  ></div>

  <div slot="title">ChatGPT</div>

  <div slot="content">A simple ChatGPT Demo.</div>
</Project>

<Project
  url="http://datagram.nicecorn.com/"
  archived
>
  <div
    class="i-tabler-chart-pie"
    slot="icon"
  ></div>

  <div slot="title">DataGram</div>

  <div slot="content">A powerful data visualization and analysis tool.</div>
</Project>

<Project
  url="https://ele.nicecorn.com/"
  archived
>
  <div
    class="i-ep:eleme"
    slot="icon"
  ></div>

  <div slot="title">Ele</div>

  <div slot="content">Ele is a vue project that imitates ele App.</div>
</Project>
